:root {    
    --e-global-color-primary: #EAA638;
    --e-global-color-text: #7A8986;
}
.e-e-testimonial .e-e-grid-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.eel-all-slider {
    opacity: 0;
    transition: opacity 0.8s ease;
}

.elementor-widget-eel-testimonials-slider .eel-all-slider{
    overflow: hidden;
}

.eel-all-slider.swiper-initialized {
    opacity: 1;
}

.swiper-navigation .swiper-next,
.swiper-navigation .swiper-prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    border: none;
}
.swiper-navigation .swiper-next{
    left:auto;
    right:0;
}
.swiper-navigation svg{
    height:1em;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size:14px;
}
.swiper-button-next, .swiper-button-prev, .swiper-rtl .swiper-button-prev, .swiper-rtl .swiper-button-next {
    height: 32px;
    border-radius:3px;
    outline:none;
    border: none;
    width: 32px;
}

.swiper-navigation-top{
    position: relative;
}

.swiper-navigation-top .swiper-button-prev, .swiper-navigation-top .swiper-button-next{
    left: auto;
    right: 0;
    top: -90px;
}

.swiper-navigation-top .swiper-button-prev{
    right: 66px;
}

.eel-rating {
    color: #FFAF02;
    font-size: 25px;
    line-height: 100%;
}
.eel-rating .star {
    margin-right: 2px;
}
.eel-rating .star.filled {
    color: #FFAF02;
}

.ee--tstml-inner-wrap-default{
    display: inline-flex;
    gap: 80px;
    padding: 80px;
}

.ee--tstml-inner-wrap{
    background: #EFEFF9;
    border-radius: 16px;
    padding: 30px;
    .eel-author-wrap{
        display: inline-flex;
        text-align: left;
        justify-content: space-between;
    }
    .eel-author{
        min-width: 182px;
    }
    .eel-designation{
        font-size: 14px;
        line-height: 150%;
        color: #12121280;
        font-style: normal;
        margin-bottom: 8px;
        display: inline-block;
    }
    .eel-picture{
        min-width: 100px;
        margin-right: 24px;
    }
    .eel-picture img{
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
    .eel-name{
        font-size: 20px;
        line-height: 100%;
    }
    .eel-description{
        font-size: 24px;
        text-align: left;
        color: var(--e-global-color-text);
        line-height: 150%;
        letter-spacing: -0.02em;
    }
    .eel-quote{
        svg{
            height: 120px;
            fill: var(--e-global-color-primary);
        }
    }
    &.skin1{
        display: block;
        .eel-picture img {
            width: 50px;
            height: 50px;
        }
        .eel-picture {
            min-width: 50px;
            margin-right: 15px;
        }
        .eel-author-wrap {
            justify-content: flex-start;
            width: 100%;
            margin-top: 25px;
            align-items: center;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
    }
    &.skin2{
        display: block;
        .eel-picture-des-wrap{
            display: flex;
            justify-content: space-between;
        }
        .eel-picture img {
            width: 50px;
            height: 50px;
        }
        .eel-picture {
            min-width: 50px;
            margin-right: 15px;
        }
        .eel-author-wrap {
            justify-content: flex-start;
            width: 100%;
            margin-top: 25px;
            align-items: center;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
        &.eel-avatar-image-top{
            .eel-picture-des-wrap{
                display: block;
            }
            .eel-picture{
                margin-bottom: 24px;
                margin-right: 0;
            }
            .eel-description{
                text-align: center;
            }
            .eel-author-wrap{
                justify-content: center;
                text-align: center;
            }
        }
    }
    &.skin3{
        display: block;
        .eel-picture-des-wrap{
            display: flex;
            justify-content: space-between;
        }
        .eel-picture img {
            width: 50px;
            height: 50px;
            display: block;
        }
        .eel-picture {
            min-width: max-content;
            margin-right: 15px;
            @media screen and (max-width: 767px) {
                min-width: auto;
                margin-right: auto;
            }
        }

        .eel-author{
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        .eel-author-wrap {
            justify-content: flex-start;
            width: 100%;
            margin-top: 25px;
            align-items: center;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
        .eel-rating{
            display: flex;
            justify-content: end;
            flex: 1;
            .star{
                margin-right: -1.5px;
            }
        }
    }
    &.skin4{
        display: block;
        .eel-picture-des-wrap{
            display: flex;
            justify-content: space-between;
        }
        .eel-picture img {
            width: 100%;
            height: 400px;
            border-radius: 8px;
        }
        .eel-picture {
            min-width: 320px;
            margin-right: 80px;
        }
        .eel-author-wrap {
            justify-content: flex-start;
            width: 100%;
            margin-top: 25px;
            align-items: flex-end;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
        .eel--description-wrap{
            display: grid;
        }
    }
    &.skin5{
        display: block;
        .eel-picture-des-wrap{
            display: flex;
            justify-content: space-between;
        }
        .eel-picture img {
            width: 50px;
            height: 50px;
            display: block;
        }
        .eel-picture {
            min-width: 50px;
            margin-right: 15px;
        }
        .eel-author {
            min-width: 100px;
        }
        .eel-author-wrap {
            justify-content: flex-start;
            width: 100%;
            margin-top: 25px;
            align-items: center;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
        .eel-rating{
            display: flex;
            flex: 1;
            text-align: right;
            margin-left: 15px;
            justify-content: end;
        }
    }
    &.skin6{
        display: block;
        .eel-picture-des-wrap{
            display: flex;
            justify-content: space-between;
        }
        .eel-picture img {
            width: 50px;
            height: 50px;
            display: block;
        }
        .eel-picture {
            min-width: 50px;
            margin-right: 15px;
        }
        .eel-description{
            text-align: center;
        }
        .eel-author-wrap {
            justify-content: center;
            width: 100%;
            margin-top: 25px;
            align-items: center;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
        .eel-rating{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }        
    }
    &.skin7 {
        display: block;
        .eel-picture-des-wrap{
            display: flex;
            justify-content: space-between;
        }
        .eel-picture img {
            width: 50px;
            height: 50px;
            display: block;
        }
        .eel-picture {
            min-width: 50px;
            margin-right: 15px;
        }
        .eel-name {
            font-size: 18px;
            line-height: 100%;
            font-weight: 600;
            font-family: var(--e-global-typography-secondary-font-family);
            color: var(--e-global-color-secondary);
        }
        .eel-author-wrap {
            justify-content: start;
            width: 100%;
            margin-top: 30px;
            align-items: center;
        }
        .eel-designation{
            margin-bottom: 0;
        }
        .eel-description {
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0;
        }
        .eel-company-logo{
            text-align: left;
            margin-bottom: 12px;
        }
        .eel-rating{
            display: flex;
            justify-content: start;
        }   
        .star {
            font-size: 18px;
        }  
        .eel-quote {
            margin-bottom: 25px;
            svg {
                width: 35px;
                height: auto;
            } 
        } 
    }
}

.ee--tstml-wrap-skin-style-two{
    display: inline-flex;
    .eel-author-wrap{
        display: inline-flex;
        text-align: left;
        align-items: center;
    }
    .eel-rating {
        font-size: 20px;
    }
    .eel-content-wrap{
        background: #FFFFFF;
        box-shadow: 0px 24px 48px -24px rgba(0, 0, 0, 0.16);
        border-radius: 16px;
        padding: 32px;
        margin-left: -100px;
        .author-wrap{
            display: flex;
            margin-top: 24px;
            padding-top: 23px;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
        }
        &.eel-not-add-image{
            margin-left: 0;
        }
    }
    .eel-designation{
        font-size: 14px;
        line-height: 150%;
        color: #12121280;
        font-style: normal;
        margin-bottom: 8px;
        display: inline-block;
        font-weight: normal;
    }
    .eel-picture{
        min-width: 320px;
        margin-right: 24px;
    }
    .eel-picture img{
        width: 100%;
        height: 450px;
        border-radius: 16px;
        object-fit: cover;
    }
    .eel-name{
        font-size: 20px;
        line-height: 100%;
        display: inline-grid;
        flex: 1;
        gap: 4px;
    }
    .eel-description{
        font-size: 18px;
        text-align: left;
        color: var(--e-global-color-text);
        line-height: 150%;
        letter-spacing: -0.01em;
    }
    .eel-quote{
        svg{
            height: 120px;
            fill: var(--e-global-color-primary);
        }
    }
}

.easy--custom-navigation-icon .swiper-button-next:after, .easy--custom-navigation-icon .swiper-button-prev:after{
    display: none;
}

@media (max-width: 1024px) {
    .ee--tstml-inner-wrap-default{
        gap: 20px;
        padding: 30px;
    }
}


@media (max-width: 991px) {
    .ee--tstml-inner-wrap-default{
        display: grid;
    }
}

@media (max-width: 768px) {
    .eel-author-wrap{
        flex-direction: column;
        gap: 10px;
    }
    .ee--tstml-wrap-skin-style-two .eel-content-wrap,
    .ee--tstml-wrap-skin-style-two .eel-picture {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
    .ee--tstml-wrap-skin-style-two .eel-picture img{
        height: auto;
    }
    .swiper-navigation-top{
        display: none;
    }
    .ee--tstml-inner-wrap-default{
        display: block;
    }
    .ee--tstml-inner-wrap .eel-description{
        text-align: center;
        margin-bottom: 30px;
    }
    .ee--tstml-inner-wrap .eel-picture {
        min-width: 100px;
        margin: 0 auto;
        padding-top: 10px;
    }
    .ee--tstml-inner-wrap .eel-quote svg {
        height: 60px;
    }
    .e-e-testimonial .grid-wrap{
        display: block;
    }
}

@media (max-width: 767px) {
    .ee--tstml-inner-wrap.skin5 .eel-picture {
        margin: 0;
    }
    .ee--tstml-inner-wrap.skin6 .eel-picture{
        margin-left: auto;
    }
    .ee--tstml-inner-wrap.skin7 .eel-author-wrap {
        flex-direction: row;
        margin-top: 30px;
    }
    .ee--tstml-inner-wrap.skin7 .eel-picture {
        padding-top: 0;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .ee--tstml-inner-wrap .eel-description{
        font-size: 18px;
    }
}