:root {
  --e-global-color-primary: #EAA638;
}

.eel-advance-button {
  padding: 14px 36px;
  border: 1px solid rgba(0, 0, 0, 0.1490196078);
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
}
.eel-advance-button svg,
.eel-advance-button svg path,
.eel-advance-button i {
  fill: currentColor;
  color: currentColor;
  height: 1em;
}
.eel-advance-button.eel-default::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--e-global-color-primary);
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.eel-advance-button.eel-default span {
  position: relative;
  z-index: 1;
  align-items: center;
}
.eel-advance-button.eel-default:hover {
  background: transparent;
}
.eel-advance-button.eel-default:hover::after {
  width: 100%;
}
.eel-advance-button:hover {
  background: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
  color: #fff;
}
.eel-advance-button:hover svg,
.eel-advance-button:hover svg path,
.eel-advance-button:hover i {
  fill: currentColor;
  color: currentColor;
}

/* ---- Button Effect 2 - Switch Text (Smooth) ---- */
.eel-btn--effect-tw span:nth-child(1) {
  transition-delay: 0.01s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(2) {
  transition-delay: 0.02s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(3) {
  transition-delay: 0.03s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(4) {
  transition-delay: 0.04s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(5) {
  transition-delay: 0.05s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(6) {
  transition-delay: 0.06s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(7) {
  transition-delay: 0.07s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(8) {
  transition-delay: 0.08s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(9) {
  transition-delay: 0.09s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(10) {
  transition-delay: 0.1s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(11) {
  transition-delay: 0.11s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(12) {
  transition-delay: 0.12s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(13) {
  transition-delay: 0.13s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(14) {
  transition-delay: 0.14s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(15) {
  transition-delay: 0.15s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(16) {
  transition-delay: 0.16s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(17) {
  transition-delay: 0.17s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(18) {
  transition-delay: 0.18s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(19) {
  transition-delay: 0.19s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(20) {
  transition-delay: 0.2s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(21) {
  transition-delay: 0.21s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(22) {
  transition-delay: 0.22s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(23) {
  transition-delay: 0.23s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(24) {
  transition-delay: 0.24s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(25) {
  transition-delay: 0.25s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(26) {
  transition-delay: 0.26s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(27) {
  transition-delay: 0.27s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(28) {
  transition-delay: 0.28s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(29) {
  transition-delay: 0.29s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(30) {
  transition-delay: 0.3s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(31) {
  transition-delay: 0.31s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(32) {
  transition-delay: 0.32s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(33) {
  transition-delay: 0.33s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(34) {
  transition-delay: 0.34s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(35) {
  transition-delay: 0.35s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(36) {
  transition-delay: 0.36s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(37) {
  transition-delay: 0.37s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(38) {
  transition-delay: 0.38s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(39) {
  transition-delay: 0.39s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(40) {
  transition-delay: 0.4s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(41) {
  transition-delay: 0.41s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(42) {
  transition-delay: 0.42s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(43) {
  transition-delay: 0.43s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(44) {
  transition-delay: 0.44s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(45) {
  transition-delay: 0.45s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(46) {
  transition-delay: 0.46s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(47) {
  transition-delay: 0.47s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(48) {
  transition-delay: 0.48s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(49) {
  transition-delay: 0.49s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw span:nth-child(50) {
  transition-delay: 0.5s;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}

.eel-btn--effect-tw {
  position: relative;
  overflow: hidden;
  display: inline-flex !important;
  align-items: center;
  transition: all 0.5s;
}
.eel-btn--effect-tw:before,
.eel-btn--effect-tw span {
  transition: all 0.4s cubic-bezier(0.6, 0, 0.2, 1);
  backface-visibility: hidden;
  will-change: transform, opacity;
}
.eel-btn--effect-tw:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-text);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.eel-btn--effect-tw span {
  display: inline-block;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
}
.eel-btn--effect-tw:hover:before {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}
.eel-btn--effect-tw:hover span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.eel-advance-button-defualt3 {
  height: 60px;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 0;
  border: none;
}
.eel-advance-button-defualt3 .eel-btn-main {
  position: absolute;
  transition: all 0.5s ease;
  top: 0;
}
.eel-advance-button-defualt3 .eel-btn-main div {
  height: 60px;
  width: 200px;
  line-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.eel-advance-button-defualt3:hover {
  border: var(--e-global-color-primary);
}
.eel-advance-button-defualt3:hover .eel-btn-main {
  top: -60px;
  transition: all 0.3s ease;
}
.eel-advance-button-defualt3 .eel-btn-one {
  background-color: var(--e-global-color-primary);
}
.eel-advance-button-defualt3 .eel-btn-two {
  background-color: green;
}

.eel-btn-letter-effect-tw {
  background: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
  font-size: 15px;
  font-weight: 600;
  padding: 13px 20px;
  border-radius: 30px;
  border: none;
  line-height: normal;
  transition: all 0.3s ease;
}
.eel-btn-letter-effect-tw span {
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.eel-btn-letter-effect-tw::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -100%);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.eel-btn-letter-effect-tw:hover {
  color: var(--e-global-color-accent);
  background: var(--e-global-color-secondary);
}
.eel-btn-letter-effect-tw:hover span {
  transform: translate(0, 40px);
  opacity: 0;
}
.eel-btn-letter-effect-tw:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}

.eel-advance-combine-icon-btn .eel-advance-combine-btn-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 30px;
  border-radius: 100px;
  background: var(--e-global-color-primary);
  color: #fff;
  overflow: hidden;
  transition: all 0.4s ease;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-text span {
  display: block;
  transition: all 0.4s ease;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-text .eel-combine-btn-normal-text {
  transform: translateY(0);
  opacity: 1;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-text .eel-combine-btn-hover-text {
  position: absolute;
  top: 50%;
  transform: translateY(150%);
  opacity: 0;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: #fff;
  background: var(--e-global-color-primary);
  border-radius: 50%;
  overflow: hidden;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-icon svg,
.eel-advance-combine-icon-btn .eel-combine-icon-btn-icon i {
  fill: currentColor;
  color: currentColor;
  height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-icon .eel-combine-btn-normal-icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.eel-advance-combine-icon-btn .eel-combine-icon-btn-icon .eel-combine-btn-hover-icon {
  transform: translate(-150%, -50%);
  opacity: 0;
}
.eel-advance-combine-icon-btn:hover .eel-combine-btn-normal-text {
  transform: translateY(-100%);
  opacity: 0;
}
.eel-advance-combine-icon-btn:hover .eel-combine-btn-hover-text {
  transform: translateY(-50%);
  opacity: 1;
}
.eel-advance-combine-icon-btn:hover .eel-combine-btn-normal-icon {
  transform: translate(150%, -50%);
  opacity: 0;
}
.eel-advance-combine-icon-btn:hover .eel-combine-btn-hover-icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.eel-advance-button-text {
  pointer-events: none;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease-out;
  gap: 10px;
  align-items: center;
}

.eel-advance-button-badge {
  transition: all 0.3s ease;
}
.eel-advance-button-badge > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.eel-advance-button-badge .eel-badge {
  display: inline;
  font-size: 10px;
  color: #fff;
  background: var(--e-global-color-primary);
  padding: 3px 7px;
  border-radius: 2px;
  margin: 8px;
  transition: all 0.3s ease;
  line-height: normal;
}

.eel-advance-button-magnetic {
  position: relative;
  border: 1px solid var(--e-global-color-primary);
  text-align: center;
}
.eel-advance-button-magnetic .eel-advance-magnetic-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.eel-advance-button-magnetic .eel-advance-magnetic-btn .eel-magnetic-btn-text {
  position: relative;
}
.eel-advance-button-magnetic .eel-magnetic-btn-overly {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  transform: scale(0);
  transform-origin: 0 0;
  will-change: transform;
}
.eel-advance-button-magnetic .eel-magnetic-btn-overly::before {
  aspect-ratio: 1/1;
  background-color: var(--e-global-color-primary);
  border-radius: 50%;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 170%;
}
.eel-advance-button-magnetic:hover {
  background: inherit;
}

.eel-button-icon-before-advance,
.eel-button-icon-after-advance {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
}
.eel-button-icon-before-advance i, .eel-button-icon-before-advance svg,
.eel-button-icon-after-advance i,
.eel-button-icon-after-advance svg {
  transition: all 0.3s ease;
}/*# sourceMappingURL=advance-button.css.map */