:root {
    --e-global-color-primary: #FFD012;
    --e-global-color-secondary: #0B3665;
}


#reply-title{
    font-size: 24px;
}


@media (max-width: 767px) {
    .comments-area .comment-list li.comment .comment-body {
        padding-left: 0;
    }

    .comments-area .comment-list li.comment .comment-author img {
        float: none;
        position: relative;
    }
    .comment-author cite{
        display: block;
    }
    .comments-area .comment-list li.comment ol.children li {
        margin-left: 0;
    }
}